<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.mdaesin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_nosun_tong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_nosun_tong_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mdaesin">
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.popup.WaypointPopupActivity"
            android:exported="false"
            android:parentActivityName=".ui.WayPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.popup.HistoryPopupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".TmpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CarControlActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WayPointActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <!-- 접수건수 상세 -->
        <activity
            android:name=".ui.ReceiptDetailsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <!-- 수정내역-->
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <!--건의함-->
        <activity
            android:name=".ui.TendinousActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EnterAppActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>